html {
    margin: 0;
    padding: 0;
    background: #fff;
}

h1,h2,h3,h4,h5,h6 {
    margin: 5px 0;
    padding: 0;
}

body {
    width: 1004px;
    margin: 0 auto;
    background: #fff;
    font: normal 13px "sans-serif";
    color: #333;
    border: 0;
}

.content {
    position: relative;
    clear: both;
    overflow: hidden;
}

.clear {
    clear: both;
}

.list-item {
    border: solid 1px #aaa;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    overflow: hidden;
}

.list-item .list-description {
    margin: 0;
    margin-bottom: 10px;
    text-align: justify;
}


.list-item .list-thumb {
    float: left;
    margin: 0;
    margin-right: 5px;
    margin-bottom: 5px;
}

.list-item .list-author {
    float: left;
}

.list-item .list-date {
    float: right;
}

a, a:link, a:active, a:visited {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.list-item h3 {
    font-size: 14px;
    display: block;
}

.media-item {
    width: 110px;
    height: 110px;
    padding: 5px;
    margin: 5px;
    float: left;
}

.media-item .media-thumb {
    width: 100px;
    height: 100px;
}

.media-item .media-name {
    text-align: center;
    font-size: 12px;
}

#contextmenu {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    border: 1px solid #333;
    margin: 3px;
    padding: 5px;
    /*display: none;*/
}

#contextmenu ul {
    margin: 0;
    padding: 0;
}

#contextmenu li {
    list-style-type: none;
    padding: 2px 4px;
    border: 0px;
    border-bottom: 1px solid #666;
}

#contextmenu li:last-child {
    border-bottom: 0px;
}

#contextmenu li:hover {
    background: #d8f8ff;
    cursor: pointer;
}

#curtain {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.85;
    background: #999;
    z-index: 10000;
    width: 100%;
    height: 100%;
}

.modal-window {
    position: absolute;
    width: 600px;
    height: 400px;
    margin-left: -300px;
    margin-top: -200px;
    left: 50%;
    top: 50%;
    background: white;
    z-index: 10001;
    border: 1px solid #666;
    padding: 10px;
}